{% extends "./public/dashboardBase.html" %}
{% load static %}

{% block main_content %}


    <div id="page-wrapper" class="gray-bg">

        {% include 'EnyMachineLearningApp/public/CommonHeadBar.html' %}

        <style type="text/css">
        </style>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Welcome to Machine Learning as a Service </h2>
                <ol class="breadcrumb">

                </ol>
            </div>
            <div class="col-sm-8">

            </div>
        </div>

        <br>
        {#<div class="row">#}
        {#     {% for image in result %}#}
        {#        <li><a href="#">{{ image.FilePath }}</a></li>#}
        {#    {% endfor %}#}
        {#</div>#}

        <div class="row wrapper wrapper-content animated fadeInRight">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Frame The Problem</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p>
                            The sinking of the RMS Titanic is one of the most infamous shipwrecks in history.
                            On April 15, 1912, during her maiden voyage, the Titanic sank after colliding with an iceberg, killing 1502
                            out of 2224 passengers and crew. This sensational tragedy shocked the international community and led to better
                            safety regulations for ships. <br><br>

                            One of the reasons that the shipwreck led to such loss of life was that there were not enough lifeboats for
                            the passengers and crew. Although there was some element of luck involved in surviving the sinking, some groups
                            of people were more likely to survive than others, such as women, children, and the upper-class. <br><br>

                            In this challenge, we ask you to complete the analysis of what sorts of people were likely to survive.
                            In particular, we ask you to apply the tools of machine learning to predict which passengers survived the tragedy.<br>
                        </p>

                        <h3 class="font-bold">

                        </h3>
                        <p>

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Obtain Data</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p>

                        </p>

                        <h3 class="font-bold">

                        </h3>
                        <p>

                        </p>
                    </div>
                </div>
            </div>


            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Analyze Data</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p>

                        </p>

                        <h3 class="font-bold">

                        </h3>
                        <p>

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Feature Engineering</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p>

                        </p>

                        <h3 class="font-bold">

                        </h3>
                        <p>

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Model Selection</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p>

                        </p>

                        <h3 class="font-bold">

                        </h3>
                        <p>

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Tune The Model</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p>

                        </p>

                        <h3 class="font-bold">

                        </h3>
                        <p>

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Predict on New Cases</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p>

                        </p>

                        <h3 class="font-bold">

                        </h3>
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>



    </div>


    <link href="{% static "assets/css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
    <!-- Data picker -->
    <script src="{% static "assets/js/plugins/datapicker/bootstrap-datepicker.js" %}"></script>
    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static "assets/js/plugins/fullcalendar/moment.min.js" %}"></script>
    <!-- Date range picker -->
    <script src="{% static "assets/js/plugins/daterangepicker/daterangepicker.js" %}"></script>


    <script>

        $(document).ready(function ()
        {


        });

    </script>

{% endblock %}