{% extends "./public/CommonBaseLayout.html" %}
{% load static %}
{% block main_content %}

<style type="text/css">

</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Change Password  </h2>
        <ol class="breadcrumb">
{#                    <li>#}
{#                        <a href="index.html">This is</a>#}
{#                    </li>#}
{#            <li class="active">#}
{#                <strong>HP Dashboard</strong>#}
{#            </li>#}
        </ol>
    </div>
    <div class="col-sm-8">
{#        <div class="title-action" style="float: right">#}
{#            <a href="https://app.powerbi.com/view?r=eyJrIjoiMjM4NTBmYzAtYTZmYy00ZWFiLWI5YmUtYWUzNjJhZmRmYWU1IiwidCI6IjY1M2JkM2UxLTM2ZmYtNDM5OS1iMGFhLWY3ZTYzYTAyOTU5NyIsImMiOjEwfQ%3D%3D" target="_blank" class="btn btn-info">Full Screen</a>#}
{#        </div>#}
{#        <div class="title-action" style="float: right; margin-right: 10px;">#}
{#            <a href="" class="btn btn-primary">Next</a>#}
{#        </div>#}
    </div>
</div>







<br>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            {% if message|length > 0 %}
                {{ message|safe }}
            {% endif %}

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Password Change</h5>
                <div class="ibox-content">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/changePassword">
                    {% csrf_token %}

                        <div class="form-group"><label class="col-sm-3 control-label">New Password</label>
                            <div class="col-sm-5">
                                <input type="password" value="" class="form-control m-b" id="old_password" name="old_password" required>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-sm-3 control-label">Confirm New Password</label>
                            <div class="col-sm-5">
                                <input type="password" value="" class="form-control m-b" id="confirm_old_password" name="confirm_old_password" required>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-success" type="submit"  name="update_password" id="update_password">Update</button>
                            </div>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
    </div>



</div>

<script>

$(document).ready(function()
{
    $("#update_password").click(function()
    {
        if( $("#old_password").val() ==  $("#confirm_old_password").val() )
        {
            return true;
        }
        else
        {
            alert("Password doest not match. Please check.");
            return false;
        }
    });

});


</script>

{% endblock %}