{% load static %}

<div id="main-nav-bar">
    <div id="main-ul-dev">
        <ul id="main-ul" class="main-ul">
            <li id="main-sample" class="main-li-active">
                <div><a href="#">Sample tool</a></div>
            </li>
            <li id="main-showcases" class="main-li-active">
                <div><a href="#">Showcase</a></div>
                <div class="newSection">NEW</div>
            </li>
            <li id="main-docs">
                <div><a href="#">Documentation</a></div>
            </li>
        </ul>
    </div>
</div>